<!DOCTYPE html>
<html>
<head>
    <title>Maintenance</title>
    <style>
        .maintenance-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    </style>
</head>
<body>
<div class="maintenance-wrapper">
    <h1>Maintenance</h1>

    This site is currently under maintenance - please check back later...
</div>
</body>
</html>
